<html>
<head>
   <meta charset="UTF-8">
    <title>polling </title>
     <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

</head>
<body style="background: rgba(54,49,65,0.99)">
 <div style="background:palegoldenrod" align="center">
     <h1>Polling Details </h1>
     {% block questions %}
     {% endblock %}
 {% block answers %}
{% endblock answers %}
 </div>
</body>
</html>